% Build file for iota.erlang

{erl_opts, [{i, "src"}, {w, all}]}.

{clean_files, [".eunit", "ebin/*.beam"]}.

{port_env, [{"CFLAGS", "$CFLAGS -O2 -finline-functions -fomit-frame-pointer -fno-strict-aliasing -Wmissing-prototypes -Wall -std=c99"}]}.

% 64 bit only
% {port_specs, [{"priv/kecck_nif.so", ["c_src/keccak_nif.c", "c_src/keccak.c"]}]}.

{eunit_opts, [{report, {eunit_surefire, [{dir, "."}]}}]}.

{xref_checks, [fail_on_warning, undefined_function_calls]}.
